asgiref==3.8.1
certifi==2025.6.15
cffi==1.17.1
charset-normalizer==3.4.2
cryptography==45.0.6
Django==5.2.3
django-anymail==13.0
django-filter==25.1
djangorestframework==3.16.0
djangorestframework_simplejwt==5.5.1
idna==3.10
imagekitio==4.1.0
Markdown==3.8.2
pillow==11.3.0
psycopg2-binary==2.9.10
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
requests==2.32.4
requests-toolbelt==0.10.1
sqlparse==0.5.3
tzdata==2025.2
urllib3==1.26.20
