DEBUG=True
SECRET_KEY=django-insecure-s%=yquk=3g6g*0)8wi_3qo^y8xah9u9+&g=79hy^6e@989c*ta

# Local env
# Allowed hosts
ALLOWED_HOSTS=localhost,127.0.0.1
# CORS settings
# Must be False if using credentials
CORS_ALLOW_ALL_ORIGINS=False
CORS_ALLOW_CREDENTIALS=True
CORS_ALLOWED_ORIGINS=http://127.0.0.1:5173,http://localhost:5173


# Production env
# ALLOWED_HOSTS=
# CORS_ALLOW_ALL_ORIGINS=
# CORS_ALLOW_CREDENTIALS=
# CORS_ALLOWED_ORIGINS=

# URLs
FRONTEND_URL=http://127.0.0.1:5173


# DATABASE
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=

# Email sending service
# HOST=
# MAILTRAP_API_KEY=
# DEFAULT_FROM_EMAIL=

GMAIL_APP_PASSWORD=
GMAIL_USERNAME=
BREVO_API_KEY=


# JWT settings
JWT_SECRET_KEY=4d3f7c8b-2c1e-4a5b-9f0e-6d3f7c8b2c1d
JWT_ALGORITHM=HS256


# ImageKit settings
# IMAGEKIT_PRIVATE_KEY=
# IMAGEKIT_PUBLIC_KEY=
# IMAGEKIT_URL_ENDPOINT=


# Judge0 URL
JUDGE0_URL=